{% extends 'base.html.twig' %}

{% block title %}Création de compte{% endblock %}
{% block body_class 'login-page' %}

{% block body %}

    <div class="login-box">
        <div class="login-logo">
            <b>Sidi -</b>TEST
        </div>
        <!-- /.login-logo -->
        <div class="card">
            <div class="card-body register-card-body">
                <p class="login-box-msg">Se connecter</p>

                <form method="POST">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    {% if app.user %}
                        <div class="mb-3">
                            Vous êtes déjà connecté {{ app.user.userIdentifier }} <br><a href="{{ path('app_logout') }}">Se déconnecté</a>
                        </div>
                    {% endif %}

                    <div class="input-group mb-3">
                        <input type="email" class="form-control" placeholder="Email" value="{{ last_username }}" name="email">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" placeholder="Password" name="password">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>

                    <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}"
                    >

                    <div>
                        <button type="submit" class="btn btn-primary">Envoyer</button>
                        <a href="{{ path('app_register') }}" class="btn btn-success">Créer un compte</a>
                    </div>
                </form>

            </div>
            <!-- /.login-card-body -->
        </div>
    </div>

{% endblock %}
